include ../theme/mixins.pug

doctype html
html(lang='en')
  +norska_head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha")

  body.bg-white.lato
    input#menu_checkbox.hidden.if(type="checkbox")
    include ../theme/header.pug
    .container.mx-auto.flex.mt-8.pb-3
      include ../theme/sidebar.pug
      //- Content
      .flex-grow.min-w-0.px-1.py-2.md_pl-5
        if data.theme.isDefaultInstall
          .bg-red-1.border-001.border-red-9.p-3.mb-3
            .prose!=markdown(data.theme.instructions)

        .DocSearch-content
          .flow-root
            include ../theme/editLink.pug
            h1.theme-title.gray-9.text-6.md_text-7.xl_text-8.border-b-01=data.meta.title
          .prose.lg_prose-lg.xl_prose-2xl.pt-5.overflow-hidden
            block content

        include ../theme/footer.pug

    +norska_scripts
      script=include('script.js')
      if data.theme.docSearch
        //- Workaround until DocSearch alpha is fixed
        script window.process = { env: { NODE_ENV: 'development' } }
        script(src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha")
        script!=`window.DOCSEARCH_CONFIG = ${JSON.stringify(data.theme.docSearch)}`
        script
          |docsearch({
          |  apiKey: DOCSEARCH_CONFIG.apiKey,
          |  indexName: DOCSEARCH_CONFIG.indexName,
          |  container: '#DocSearchContainer'
          |});

