a.float-right.border-gray.border-001.rounded.py-01.px-02.mt-01.text-3.transition-colors.duration-02.hover_bg-gray.hover_white(href=data.themeMethods.editUrl(url.here, { data }) target="_blank" rel="noreferrer noopener") Edit
