.bg-white.border-gray-4.border-t-001
  .container.mx-auto.py-02.text-right
    .gray-6.text-1 Made by 
      a.gray-7.theme-navigation-link.mr-1(href="https://www.pixelastic.com/") @pixelastic
      a.gray-7.theme-navigation-link.mr-1(href="https://twitter.com/pixelastic") Twitter
      a.gray-7.theme-navigation-link.mr-1(href="https://github.com/pixelastic") GitHub
      a.gray-7.theme-navigation-link.mr-1(href="https://www.pixelastic.com/projects") Projects
